/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2f54eb;
  --ifm-color-primary-dark: #163fe8;
  --ifm-color-primary-darker: #153cdb;
  --ifm-color-primary-darkest: #1131b4;
  --ifm-color-primary-light: #4969ed;
  --ifm-color-primary-lighter: #5674ef;
  --ifm-color-primary-lightest: #7c93f2;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
